/**********************************************************************
4. Реализуйте функцию, которая преобразует hex в строку. Во входных
параметрах получает указатель на массив и его размер, а возвращает
указатель на тип char.
*********************************************************************/

char char_conv[9];

void hex_to_char (unsigned long he_x,char *m,char size_m)
{ unsigned char temp,i=0 ;
size_m--;
do{
     temp=(char*)(he_x>>(i*4));// выделчем очередной полубайт
     temp&=0x0f;
     if(temp>9) *(m+(size_m-i))=temp+56;// получаем символы A,B,C,D,E,F
          else  *(m+(size_m-i))=temp+48;//получаем символы цифр от 0 до 9
  }while((i++)<size_m);
   *(m+size_m+1)='\0';
}


int main()
{
hex_to_char (0x00BC614E,char_conv,9);// после конвертирования получаем char_conv[]={'0','0','B','C','6','1','4','E','\0'}
char j;
for(j=0;j<9;j++)printf("%c",*(char_conv+j));// можно вывести на экран
return 0;
}
